<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
    <script src="../static/JS/index.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    
    <div class="nav">
        <h4>Face Recognization</h4>
    </div>
        
    <div class="home">
        <div class="card">
            <a href="{{url_for('data')}}"><img  src="../static/assets/data.svg" alt="" srcset=""></a>
            <h2 >DATA</h2>
        </div>
        <div class="card">
           <a href="{{url_for('recognize')}}"><img src="../static/assets/recognize.svg" alt="" srcset=""></a>
           <h2>RECOGNIZE</h2>
        </div>
    </div>
    
</body>
</html>